
/*侧边栏 start*/
.sidebar {
    width: 15%;
    margin-left: 20px;
    float: left;
    height: 100%;
}

.sidebarInside {
    height: 30px;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 4px;
}

.sidebarInside:hover {
    color: rgb(96, 154, 205);
    background-color: rgb(242, 246, 249);
    text-decoration: none;
}


.sidebarA:hover, .sidebarA:focus {
    color: rgb(96, 154, 205);
    background-color: rgb(242, 246, 249);
    text-decoration: none;
}

/*侧边栏 end*/


/*主区域 start*/
.mainContain {
    float: left;
    margin-left: 30px;
    width: 80%;
}
/*主区域 end*/


.pageStyle h4 {
    color: red;
}

.shadowBOX {
    width: 400px;
    height: 100px;
    background-color: lightgray;
    /*box-shadow: 0 -60px 50px -20px gray inset;*/
}

/*表单验证 input框样式 start*/
input.ng-invalid {
    border: 1px solid red;
}
input.ng-valid {
    border: 1px solid green;
}
/*表单验证 input框样式 end*/


/* 动画定义 */
@-webkit-keyframes move_right {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(120px);
        transform: translateX(120px);
    }
}
@keyframes move_right {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(120px);
        transform: translateX(120px);
    }
}
@-webkit-keyframes move_left {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(-120px);
        transform: translateX(-120px);
    }
}
@keyframes move_left {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(-120px);
        transform: translateX(-120px);
    }
}
@-webkit-keyframes move_up {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(-250px);
        transform: translateY(-250px);
    }
}
@keyframes move_up {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(-250px);
        transform: translateY(-250px);
    }
}


/* 动画绑定 */
.move_right {
    -webkit-animation-name            : move_right;
    animation-name            : move_right;
    -webkit-animation-duration        : 1s;
    animation-duration        : 1s;
    -webkit-animation-iteration-count : 1;
    animation-iteration-count : 1;
    -webkit-animation-fill-mode : forwards;
    animation-fill-mode : forwards;
}
.move_left {
    -webkit-animation-name            : move_left;
    animation-name            : move_left;
    -webkit-animation-duration        : 1s;
    animation-duration        : 1s;
    -webkit-animation-iteration-count : 1;
    animation-iteration-count : 1;
    -webkit-animation-fill-mode : forwards;
    animation-fill-mode : forwards;
}
.move_up {
    -webkit-animation-name            : move_up;
    animation-name            : move_up;
    -webkit-animation-duration        : 1s;
    animation-duration        : 1s;
    -webkit-animation-iteration-count : 1;
    animation-iteration-count : 1;
    -webkit-animation-fill-mode : forwards;
    animation-fill-mode : forwards;
}
.fadeIn {
    -webkit-transform : translateX(120px);
    transform : translateX(120px); 
    opacity: 1;
}
.fadeInUp {
    -webkit-transform : translateY(-250px);
    transform : translateY(-250px);
    opacity: 1;
    -webkit-transition :-webkit-transform .2s ease-out,opacity .2s ease-out; 
    transition :transform .2s ease-out, opacity .2s ease-out;
}
.fadeOutLeft {
    -webkit-transform : translateX(-120px);
    transform : translateX(-120px); 
    opacity: 0.0;
    -webkit-transition :-webkit-transform .2s ease-out,opacity .2s ease-out; 
    transition :transform .2s ease-out, opacity .2s ease-out;
}

/* .box {
    display: inline-flex;
    background-color: red;
    justify-content:center;
    height: 50px;
    width: 50%;
    align-items: center;
}

.boxItem {
    height: 40px;
    width: 40px;
    background-color: gray;
    line-height: 40px;
    text-align: center;
} */

.box {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: gray;
    margin-top: 10px;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    justify-content: space-around;
}

.boxItem {
    height: 80px;
    width: 100px;
    line-height: 80px;
    text-align: center;
}